<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/escaneo.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Escaneo Intraoral</h2>
        <p class="text-light text-just">El escáner intraoral es una herramienta tecnológica que nos permite crear un archivo digital en 3D de la dentadura del paciente y de esta manera generar trabajos sobre la misma. El uso del escáner intraoral ha simplificado el diseño de modelos, por lo tanto, la realización de tratamientos protésicos u ortodónticos requieren menos tiempo de trabajo en comparación con el modelo tradicional.  El proceso es más rápido, agradable y más cómodo para el paciente. </p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-sm-12 col-lg-4">
            <img src="assets/img/img4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-sm-12 col-lg-8 mb-5">
            <div class="content ps-lg-5">
              <h3>Estereolitografía</h3>
              <p class="text-just">La estereolitografía consiste en un sistema de prototipado por el cual se obtienen modelos tridimensionales a través del procesamiento de datos obtenidos de la tomografía computarizada. Se envían al laboratorio para obtener las prótesis de titanio que se utilizan para remplazar las zonas faltantes, se puede imprimir de acuerdo al tamaño real, siempre y cuando se genere un archivo STL. Son de gran utilidad en el diagnóstico para hacer reconstrucción de la mandíbula. </p>
                <ul class="list-group">
                    <li class="list-group-item">Los modelos que se obtienen con este tipo de tecnología son de alta fidelidad. Los defectos pueden corregirse al instante.
                    </li>
                    <li class="list-group-item">Acceder a los archivos digitales 3D siempre que se desee es posible, creándolos y almacenándolos de manera digital, favoreciendo el ahorro de espacio físico.</li>
                    <li class="list-group-item">Las impresiones ya no se enviarán de manera física, sino que serán enviadas al laboratorio a través del software de gestión del propio escáner.</li>
                    <li class="list-group-item">Se podrán mostrar el estado de caries, dientes fracturados, presencia de cálculo y la posición actual de los dientes.</li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col">
                <img src="assets/img/escaneo2.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-8 mb-5">
              <div class="content ps-lg-5">
                <h3>Guías quirúrgicas</h3>
                <p class="text-just">Consiste en una tomografía y escaneo intraoral, siendo un elemento quirúrgico, que permite al especialista colocar los implantes de acuerdo a un estudio y planificación computarizado previos, de forma cuidadosa y precisa.</p>
              </div>
            </div>
        </div>
      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->