<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/escaneo.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Escaneo Intraoral</h2>
        <p class="text-light text-just">El escáner intraoral es una herramienta tecnológica que nos permite crear un archivo digital en 3D de la dentadura del paciente y de esta manera generar trabajos sobre la misma.</p>
        <p class="text-light text-just">El uso del escáner intraoral ha simplificado el diseño de modelos, por lo tanto, la realización de tratamientos protésicos u ortodónticos requieren menos tiempo de trabajo en comparación con el modelo tradicional.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/img4.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 mb-5">
            <div class="content ps-lg-5">
              <h3>Estereolitografía</h3>
              <p class="text-just">La estereolitografía consiste en un sistema de prototipado por el cual se obtienen modelos tridimensionales a través del procesamiento de datos obtenidos de la Tomografía Computarizada (Dicom).</p>
                <p class="text-just"> Son de gran utilidad en el diagnóstico y plan de tratamiento en las distintas especialidades odontológicas y médicas. Se puede imprimir cualquier tamaño y forma, siempre y cuando se genere un archivo STL de la estructura de interés. </p>
                <p class="text-just">Además de la eficacia y la reducción de tiempos de trabajo, el uso de este tipo de tecnología proporciona otra serie de ventajas:</p>
                <ul class="list-group">
                    <li class="list-group-item">Los modelos que se obtienen con este tipo de tecnología son de alta fidelidad. Los defectos pueden corregirse al instante.
                    </li>
                    <li class="list-group-item">Acceder a los archivos digitales 3D siempre que se desee es posible, creándolos y almacenándolos de manera digital, favoreciendo el ahorro de espacio físico.</li>
                    <li class="list-group-item">Las impresiones ya no se enviarán de manera física, sino que serán enviadas al laboratorio a través del software de gestión del propio escáner.</li>
                    <li class="list-group-item">Se podrán mostrar el estado de caries, dientes fracturados, presencia de cálculo y la posición actual de los dientes.</li>
                  </ul>
            </div>
          </div>
        </div>
        <div class="row" data-aos="fade-up">
            <div class="col">
                <img src="assets/img/escaneo2.jpg" alt="" class="img-fluid">
            </div>
        </div>
      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->