<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/radio-boca.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">
        <h2>Estudios en Ortodoncia </h2>
        <p class="text-light text-just">Consiste en un conjunto de radiografías, modelos de estudio, fotografías intraorales y extraorales, que aportan un gran valor al diagnóstico del paciente, así como la planificación de un tratamiento adecuado. Permitiendo que el doctor pueda documentar el seguimiento del tratamiento. </p>
    </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center mb-4 gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/ceraorestudios.jpg" class="img-fluid img-thumbnail" alt="">
          </div>
          <div class="col-lg-4 align-self-center">
            <h2>Te ofrecemos</h2>
          </div>
        </div>

      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">Fotografías Clínicas</div>
              <div class="card-body">
                <p class="text-lust">Tiene como propósito obtener un registro de las manifestaciones clínicas de la cavidad oral, lo cual favorece el diagnóstico y el plan de tratamiento. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">Radiografías panorámicas y lateral de cráneo</div>
              <div class="card-body">
                <p class="text-lust">Su objetivo es analizar en profundidad los elementos anatómicos de los dientes (posición de las raíces, cantidad, tamaño, etc.). Así como el crecimiento facial del paciente y una valoración de las estructuras maxilares, mandibulares y sus relaciones con las bases craneales.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">Modelos de estudio</div>
              <div class="card-body">
                <p class="text-lust">son moldes que se toman de la boca de los pacientes ya sea de manera convencional “Yeso” o “Resina”, representan la copia exacta de la cavidad oral para poder estudiarla y planificar un tratamiento adecuado a la necesidad del paciente. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">Bolton</div>
              <div class="card-body">
                <p class="text-lust">se realizan sobre los modelos de estudio específicamente en adultos, para determinar anomalías con respecto a la masa dentaria, con fines de diagnóstico y planificación del tratamiento.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">Moyers</div>
              <div class="card-body">
                <p class="text-lust">se realizan sobre los modelos de estudio específicamente en niños, para determinar los espacios dentales.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">E.O Básico</div>
              <div class="card-body">
                <p class="text-lust">Fotografía clínica intraoral y extraoral, modelo de resina, rx panorámica y lateral de cráneo (impresos)</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">E.O Básico Digital</div>
              <div class="card-body">
                <p class="text-lust">Fotografía clínica intraoral y extraoral, rx panorámica y lateral de cráneo, un trazo cefalométrico opcional (digital).</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">E.O 3D (con tomografía)</div>
              <div class="card-body">
                <p class="text-lust">Fotografía clínica intraoral y extraoral, modelo de resina, tomografía completa, rx panorámica y lateral de cráneo, dos análisis cefalométricos (impresos). </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
              <div class="card-header">E.O 3D Digital</div>
              <div class="card-body">
                <p class="text-lust">Fotografía clínica intraoral y extraoral, archivo STL, tomografía completa, rx panorámica y lateral de cráneo, un análisis cefalométrico (digital). </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section><!-- End About Section -->



  </main><!-- End #main -->