<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/radio-boca.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Estudios en Ortodoncia </h2>
        <p class="text-light text-just">La fotografía clínica es un recurso que utilizan los Ortodoncistas diagnosticar y planificar un tratamiento adecuado para el paciente.</p>
        <p class="text-light text-just">Las fotografías dentales aportan valor al diagnóstico y favorecen el correcto seguimiento de los casos clínicos.</p>
        <p class="text-light text-just">Además, suponen una herramienta muy eficaz, puesto que ayudan al dentista a documentar su labor y comunicarse tanto con el laboratorio dental como con el paciente de forma más eficiente.</p>
    </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/ceraorestudios.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Pueden Revelar</h3>

              <ul class="list-group">
                <li class="list-group-item">Abscesos o quistes</li>
                <li class="list-group-item">Pérdida de hueso</li>
                <li class="list-group-item">Tumores</li>
                <li class="list-group-item">Anomalías del desarrollo</li>
                <li class="list-group-item">Caries dentales interproximales o en zonas no visibles</li>
                <li class="list-group-item">Fracturas</li>
              </ul>
    
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->