<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Sobre Nosotros</h2>


      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/header.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Los años respaldan nuestro compromiso por darles calidad</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th scope="row">2009</th>
                    <td>Abrimos nuestras puertas en Pedro Fuentes, con deseo de ofrecer a los pacientes la mejor atención y a nuestros doctores la mejor calidad y resolución en Radiografías y Estudios de Ortodoncia.</td>
                  </tr>
                  <tr>
                    <th scope="row">2015</th>
                    <td>Nos cambiamos de ubicación para ofrecerle a los pacientes más espacio, en Arboledas continuamos brindando nuestro servicio, nuestro gabinete creció e incluimos las Tomografías Volumétricas en 3D.</td>
                  </tr>
                  <tr>
                    <th scope="row">2021</th>
                    <td>Cientos de doctores nos demostraron su confianza y comenzaron a enviarnos a sus pacientes, así que nos cambiamos a un lugar más grande, más céntrico en donde actualmente nos encontramos y con el deseo de seguir innovando y seguir ofreciendo más servicios incorporamos el escáner Intraoral y Nuevos equipos. A demás de aperturar sucursales en los municipios Cárdenas y Comalcalco, y en el estado de Veracruz.</td>
                  </tr>
                </table>
              </div>
    
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->