<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/radio-boca.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Radiografías</h2>
      <p class="text-light text-just">Las radiografías intraorales complementan la evaluación clínica que se realiza a
        un paciente, siendo una herramienta de gran utilidad en todas las etapas de un tratamiento, ya que permite
        corroborar y complementar un diagnóstico inicial y de este modo, planificar un tratamiento individualizado a
        cada paciente. Proporcionando información muy valiosa sobre lo que no se puede ver en un examen visual
        convencional.</p>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Panorámicas</div>
            <div class="card-body">
              <p class="text-just">Se capturan imágenes de la boca entera en una sola toma, incluyendo los dientes, las
                mandíbulas inferior y superior, y las estructuras y tejidos circundantes.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Lateral de Cráneo</div>
            <div class="card-body">se obtiene una vista lateral del cráneo y las estructuras óseas de la cara. Permite
              un estudio del crecimiento facial del paciente y una valoración de las estructuras maxilares, mandibulares
              y sus relaciones con las bases craneales.</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Periapical</div>
            <div class="card-body">
              <p class="text-just">se realizan mediante la colocación de placas radiológicas de diferente tamaño con el
                fin de obtener imágenes completas de uno o dos dientes y estudiarlos en su totalidad: ápice, corona,
                raíz, tejido óseo y espacio periodontal</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">ATM</div>
            <div class="card-body">
              <p class="text-just">se obtienen imágenes de la articulación temporo-mandibular para su estudio.
                Indicaciones: traumatismo, dolor al masticar, ruido al masticar, limitación en la apertura bucal.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Cadwell</div>
            <div class="card-body">
              <p class="text-just">es una proyección radiológica específica para la visualización de los senos frontales
                , etmoidales y observar fracturas en el piso de la orbita. </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Carpal</div>
            <div class="card-body">
              <p class="text-just">Se utiliza para evaluar la edad ósea del paciente y poder establecer una relación con
                respecto a su edad cronológica, con el fin de determinar el nivel de desarrollo y maduración.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">PA y AP de Cráneo</div>
            <div class="card-body">
              <p class="text-just">Se realiza utilizando un cefalostato, Se valoran las asimetrías craneofaciales,
                evaluación del crecimiento y desarrollo del paciente, traumatismos, detección de anomalías del
                desarrollo, senos paranasales, detección de calcificaciones intracraneales.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Watters</div>
            <div class="card-body">
              <p class="text-just">Permite la visualización de los senos maxilares con una menor sobreproyección de
                estructuras, en donde se pueden evaluar comparativamente ambos senos maxilares y observar el ocupamiento
                de estos en condiciones anormales, por medio de la evaluación de densidades y formas que se proyecten en
                su interior que contrasten con su permeabilidad normal.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Serie de senos paranasales</div>
            <p class="text-just">Es un estudio imagenológico que consta de tres proyecciones para observar el estado
              actual de los senos paranasales. </p>
          </div>
        </div>
        <div class="col-sm-12 col-md-5">
          <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded" data-aos="fade-up">
            <div class="card-header">Rinofaríngeo</div>
            <div class="card-body">
              <p class="text-just">Evalúa el tamaño del tejido adenoideo de la faringe y de las amígdalas palatinas y su
                eventual repercusión sobre la amplitud de la vía aérea.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-5 align-self-center">
          <h3>Se puede diagnosticar</h3>
        </div>
        <div class="col-sm-12 col-md-5">
          <ul class="list-group">
            <li class="list-group-item">Abscesos o quistes</li>
            <li class="list-group-item">Pérdida de hueso</li>
            <li class="list-group-item">Tumores</li>
            <li class="list-group-item">Anomalías del desarrollo</li>
            <li class="list-group-item">Caries dentales interproximales o en zonas no visibles</li>
            <li class="list-group-item">Fracturas</li>
          </ul>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->



</main><!-- End #main -->