<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/radio-boca.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Radiografías</h2>
        <p class="text-light text-just">Las radiografías orales son herramientas de diagnóstico esenciales que nos van a proporcionar información muy valiosa sobre lo que no se puede ver en un examen visual convencional. De esta manera, se pueden detectar enfermedades dentales incipientes y determinar si es necesario aplicar un determinado tratamiento. La detección temprana de estos problemas es el primer paso para ahorrarle a usted tiempo, dinero y sobre todo dolor.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/radiografia.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Pueden Revelar</h3>

              <ul class="list-group">
                <li class="list-group-item">Abscesos o quistes</li>
                <li class="list-group-item">Pérdida de hueso</li>
                <li class="list-group-item">Tumores</li>
                <li class="list-group-item">Anomalías del desarrollo</li>
                <li class="list-group-item">Caries dentales interproximales o en zonas no visibles</li>
                <li class="list-group-item">Fracturas</li>
              </ul>
    
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->