<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/tomografo.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Tomografías</h2>
        <p class="text-light text-just">En Ceraor3D utilizamos equipos de TAC-CB de última generación, siguiendo estrictamente las pautas y normas de seguridad radiológica para garantizar la seguridad y bienestar de nuestros pacientes.

          La TAC-CB es un método económico que utiliza una tecnología de rayos X con un haz cónico, que permite obtener imágenes tridimensionales de alta resolución mediante una sola exposición y con un menor nivel de radiación en comparación con la tomografía computarizada convencional (TAC).</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row justify-content-center gy-4" data-aos="fade-up">
          <div class="col-12 col-md-6 align-self-center">
            <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
              <div class="card-body">
                <h2>Tipos</h2>
                <ul class="list-group">
                  <li class="list-group-item">Tomografía completa</li>
                  <li class="list-group-item">Tomografía ambos maxilares</li>
                  <li class="list-group-item">Tomografía de oído</li>
                  <li class="list-group-item">Tomografía maxilar</li>
                  <li class="list-group-item">Tomografía mandíbula.</li>
                  <li class="list-group-item">Tomografía SNP</li>
                  <li class="list-group-item">Tomografía ATM boca abierta</li>
                  <li class="list-group-item">Tomografía ATM boca cerrada.</li>
                  <li class="list-group-item">Tomografía ATM boca abierta y boca cerrada.</li>
                </ul>
              </div>
            </div>
            
          </div>
          <div class="col-12 col-md-6 align-items-center">
            <img src="assets/img/tomografias.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->