<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/tomografia.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Tomografías</h2>
        <p class="text-light text-just">Las tomografías dentales proporcionan imágenes detalladas de los huesos y se lleva a cabo para evaluar enfermedades de la mandíbula, la dentición, las estructuras óseas de la cara, la cavidad nasal y los senos.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid" data-aos="fade-up">

        <div class="row justify-content-center gy-4" data-aos="fade-up">
          <div class="col-10 align-items-center">
            <img src="assets/img/tomografias.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->